/* Footer */
.footer {
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.footer-section p, .footer-section ul {
    font-size: 0.9em;
    line-height: 1.6;
    color: #ddd;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #fff;
}

/* Redes sociales */
.social-links a {
    color: #ddd;
    font-size: 1.2em;
    margin-right: 15px;
    text-decoration: none;
    display: inline-block;
}

.social-links a:hover {
    color: #fff;
}

/* Footer inferior */
.footer-bottom {
    margin-top: 20px;
    font-size: 0.8em;
    color: #aaa;
    border-top: 1px solid #555;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        text-align: center;
    }
}
